* {
  box-sizing: border-box;
}

#root,
#root > div,
body,
html {
  font-family: 'Inter UI', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial,
    sans-serif;
  font-size: 103%;
  font-style: normal;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga' on;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  /* text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; */
  /* height: 100%; */
  margin: 0;
  padding: 0;
  line-height: 1.5;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.84);
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter UI'),
    url('./assets/fonts/Inter-UI-Regular.woff2') format('woff2'),
    url('./assets/fonts/Inter-UI-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Inter UI'),
    url('./assets/fonts/Inter-UI-Medium.woff2') format('woff2'),
    url('./assets/fonts/Inter-UI-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Inter UI'),
    url('./assets/fonts/Inter-UI-Bold.woff2') format('woff2'),
    url('./assets/fonts/Inter-UI-Bold.woff') format('woff');
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}
main,
li {
  display: block;
}
strong {
  font-weight: bold;
}
a {
  color: inherit;
  text-decoration: none;
}
:focus {
  outline: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
